<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title>mockup</title>
        <link href="/home/santiago/Escritorio/Mockup/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/home/santiago/Escritorio/Mockup/static/css/bootstrap.min.css">
        
    </head>
    <body>
        <div class="row">
            <div class="col-md-12" style="background-color: black;" >
                <div class="col-md-4" style="background-color: #993300; margin:20px;">
                    <div class="col-md-4" style="background-color: red; margin:7px; padding-bottom:7px;">
                        <h1>foto</h1>
                    </div>
                    <div class="col-md-7" style="background-color: #993300; margin-left:7px; margin-top:7px;">
                        <div class="col-md-12" style="background-color: red; margin-top:4px;">
                            <h8>hp</h8>
                        </div>
                        <div class="col-md-12" style="background-color: blue; margin-top:4px;">
                            <h8>mp</h8>
                        </div>
                        <div class="col-md-2" style="background-color: yellow; margin-top:4px; margin-right:10px;">
                            <h8>exp1</h8>
                        </div>
                        <div class="col-md-2" style="background-color: yellow; margin-top:4px; margin-right:10px;">
                            <h9>exp2</h9>
                        </div>
                        <div class="col-md-2" style="background-color: yellow; margin-top:4px; margin-right:10px;">
                            <h9>exp3</h9>
                        </div>
                        <div class="col-md-2" style="background-color: yellow; margin-top:4px; margin-bottom:4px;">
                            <h9>exp4</h9>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-1" style="background-color: #993300; margin-top:20px;">
                        <div class="col-md-12" style="background-color: green; margin-top:10px;">inventary
                        </div>
                        <div class="col-md-12" style="background-color: green; margin-top:5px;">mapa
                        </div>
                        <div class="col-md-12" style="background-color: green; margin-top:5px; margin-bottom:10px;;">chat
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-6" style="background-color: #993300; margin-top:20px; margin-left:20px;">
                        <div class="col-md-12" style="background-color: green; margin-top:35px; margin-bottom:35px;">PUBLICIDAD DE LA BUENA
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="background-color: black;" >
                <div>
                    <div class="col-md-3" style="background-color: #993300; margin-left:20px">
                        <div class="col-md-12" style="background-color: green; margin-top:10px;">inventary
                        </div>
                        <div class="col-md-12" style="background-color: green; margin-top:5px;">mapa
                        </div>
                        <div class="col-md-12" style="background-color: green; margin-top:5px; margin-bottom:10px;;">chat
                        </div>
                        <div class="col-md-12" style="background-color: green; margin-top:10px;">inventary
                        </div>
                        <div class="col-md-12" style="background-color: green; margin-top:5px;">mapa
                        </div>
                        <div class="col-md-12" style="background-color: green; margin-top:5px; margin-bottom:10px;;">chat
                        </div>
                        <div class="col-md-12" style="background-color: green; margin-top:10px;">inventary
                        </div>
                        <div class="col-md-12" style="background-color: green; margin-top:5px;">mapa
                        </div>
                        <div class="col-md-12" style="background-color: green; margin-top:5px; margin-bottom:10px;;">chat
                        </div>
                        <div class="col-md-12" style="background-color: green; margin-top:10px;">inventary
                        </div>
                        <div class="col-md-12" style="background-color: green; margin-top:5px;">mapa
                        </div>
                        <div class="col-md-12" style="background-color: green; margin-top:5px; margin-bottom:10px;;">chat
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-8" style="background-color: #993300; margin-left:20px; margin-bottom:20px;">
                        <div class="col-md-12" style="background-color: green; margin-top:170px; margin-bottom:170px;">MAPA
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="background-color: black;" >
                <div class="col-md-12" style="background-color: #993300; margin-left:20px; margin-bottom:20px;">
                    <div class="col-md-12" style="background-color: green; margin-top:5px;">inventary
                    </div>
                    <div class="col-md-12" style="background-color: green; margin-top:5px;">mapa
                    </div>
                    <div class="col-md-12" style="background-color: green; margin-top:5px;">chat
                    </div>
                </div>
            </div>
        </div>
    </body>